li.nav-item:nth-child(n+2):before {

}

.container {
    max-width: 100% !important;
}

/* need to changes this */

.logoPic {
    object-fit: contain;
}

.rightNavLinks {
    align-self: end;
}

.rightNavLinks li a {
    color: #0a0e14 !important;
}

/* 4 icons an first page in center */
.wrapp_icons {
    /*  div center */
    width: 50%;
    margin: 0 auto;
}

.main_4_icons {
    display: flex;
    justify-content: space-around;
}

.main_4_icons img {
    height: 50px;
    width: initial;
}

.icons_content {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0a0e14;
}

.main_4_icons a:hover {
    color: #F42F2A;
    filter: invert(32%) sepia(87%) saturate(4473%) hue-rotate(349deg) brightness(107%) contrast(92%);
}

/* responsive */
@media only screen and (max-width: 780px) {
    .wrapp_icons {
        width: 100%;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1500px) {
    .wrapp_icons {
        width: 85%;
    }
}

@media only screen and (min-width: 270px) and (max-width: 660px) {
    .wrapp_icons {
        width: 120%;
    }
}