li.nav-item:nth-child(n+2):before {

}

.container {
    max-width: 100% !important;
}

/* need to changes this */

.logoPic {
    object-fit: contain;
}

.rightNavLinks {
    align-self: end;
}

.rightNavLinks li a {
    color: #0a0e14 !important;
}

/* 4 icons an first page in center */
.wrapp_icons {
    /*  div center */
    width: 50%;
    margin: 0 auto;
}

.main_4_icons {
    display: flex;
    justify-content: space-around;
}

.main_4_icons img {
    height: 50px;
    width: initial;
}

.icons_content {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0a0e14;
}

.main_4_icons a:hover {
    color: #F42F2A;
    filter: invert(32%) sepia(87%) saturate(4473%) hue-rotate(349deg) brightness(107%) contrast(92%);
}
.left_img {
    margin-left: 12rem;
}
.left_img img {
    width: 100%;
    margin-left: -12%;
}
.left_img_text{
    background-color: #DEE2E6;
    height: fit-content;
    padding: 20px;
    margin-left: -15%;
    text-align: center;
}
.first_main_content {
    display: flex;
}
.second_main_content {
    display: flex;
    justify-content: end;
}
.right_img_text {
    background-color: #DEE2E6;
    height: fit-content;
    padding: 20px;
    text-align: center;
    margin-right: -8%;
    z-index: 1;
}
.first_span_content{
    color: #F42F2A;
}
.right_img {
    width: 75%;
}
.unsere_kunden {
    text-align: center;
}
.card {
    background-color: #F8F9FA;
}
.card img {
    width: 5%;
}
.unsere_kunden_content {
    display: flex;
    flex-direction: column;
}
/* responsive */
@media only screen and (max-width: 780px) {
    .wrapp_icons {
        width: 100%;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1500px) {
    .wrapp_icons {
        width: 85%;
    }
}

@media only screen and (min-width: 270px) and (max-width: 660px) {
    .wrapp_icons {
        width: 120%;
    }
}